.App {
  text-align: center;
  margin-top: 20px;
}
/***************************Title text*******************************/
.title-text{
  font-size: -webkit-xxx-large;
  margin-top: 150px;
  margin-bottom: 50px;
}
/***************************Title text ends**************************/
/***************************Upload button****************************/
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
/***************************Upload button ends***********************/
/***************************Result container*************************/
.file-result-container{
  margin-top: 50px;
}
/***************************Result container ends********************/
